# EJERCICIO 1

SERRANO SANCHEZ, ANGELA 20151371B

###  1. Leer el archivo .cdf

In [1]:
#Librerias
import netCDF4 as nc
import pandas as pd
import numpy as np

In [3]:
#cargando dataset.
file = 'data/sst1.cdf'
#file = 'sst2.cdf'
data = nc.Dataset(file)

In [4]:
print(data.file_format)
print('\nDIMENSIONES')
print(data.dimensions.keys())
print('\nVARIABLES')
print(data.variables.keys())
print('\nVariable depth')
print(data.variables['T_20'])

NETCDF3_CLASSIC

DIMENSIONES
odict_keys(['time', 'depth', 'lat', 'lon'])

VARIABLES
odict_keys(['time', 'depth', 'lat', 'lon', 'T_20', 'QT_5020', 'ST_6020'])

Variable depth
<class 'netCDF4._netCDF4.Variable'>
float32 T_20(time, depth, lat, lon)
    name: T
    long_name: TEMPERATURE (C)
    generic_name: temp
    FORTRAN_format: f10.2
    units: C
    epic_code: 20
unlimited dimensions:
current shape = (314, 1, 1, 1)
filling on, default _FillValue of 9.969209968386869e+36 used

In [7]:
time_var = data.variables['time']
dtime = nc.num2date(time_var[:],time_var.units)
#ultima fecha: 2018-NOV-10

#Se genera el dframe hasta el 10 NOV.
df = pd.DataFrame(list(data.variables['T_20'][:].data.ravel()), columns = ['SST'], index=dtime)
df

                           SST
2018-01-01 12:00:00  21.726934
2018-01-02 12:00:00  21.908794
2018-01-03 12:00:00  21.714407
2018-01-04 12:00:00  21.667702
2018-01-05 12:00:00  21.641754
2018-01-06 12:00:00  21.799046
2018-01-07 12:00:00  21.708815
2018-01-08 12:00:00  21.691774
2018-01-09 12:00:00  21.916025
2018-01-10 12:00:00  21.871174
2018-01-11 12:00:00  21.834141
2018-01-12 12:00:00  22.017464
2018-01-13 12:00:00  22.296356
2018-01-14 12:00:00  22.410610
2018-01-15 12:00:00  22.313505
2018-01-16 12:00:00  22.242859
2018-01-17 12:00:00  22.398020
2018-01-18 12:00:00  22.366434
2018-01-19 12:00:00  22.264124
2018-01-20 12:00:00  22.559809
2018-01-21 12:00:00  23.178448
2018-01-22 12:00:00  23.263168
2018-01-23 12:00:00  23.528902
2018-01-24 12:00:00  23.688324
2018-01-25 12:00:00  23.772392
2018-01-26 12:00:00  23.686403
2018-01-27 12:00:00  23.628241
2018-01-28 12:00:00  23.580870
2018-01-29 12:00:00  23.606968
2018-01-30 12:00:00  23.725069
...                        ...
2018-10-12 12:00:00  22.792368
2018-10-13 12:00:00  22.487585
2018-10-14 12:00:00  22.341021
2018-10-15 12:00:00  22.354166
2018-10-16 12:00:00  22.401651
2018-10-17 12:00:00  22.507154
2018-10-18 12:00:00  22.493980
2018-10-19 12:00:00  22.532642
2018-10-20 12:00:00  22.602999
2018-10-21 12:00:00  22.562437
2018-10-22 12:00:00  22.536673
2018-10-23 12:00:00  22.549362
2018-10-24 12:00:00  22.535282
2018-10-25 12:00:00  22.540470
2018-10-26 12:00:00  22.566214
2018-10-27 12:00:00  22.599531
2018-10-28 12:00:00  22.642675
2018-10-29 12:00:00  22.685913
2018-10-30 12:00:00  22.717098
2018-10-31 12:00:00  22.759043
2018-11-01 12:00:00  22.723629
2018-11-02 12:00:00  22.849813
2018-11-03 12:00:00  23.075378
2018-11-04 12:00:00  23.113960
2018-11-05 12:00:00  23.203928
2018-11-06 12:00:00  23.252274
2018-11-07 12:00:00  23.307045
2018-11-08 12:00:00  23.375366
2018-11-09 12:00:00  23.396191
2018-11-10 12:00:00  23.352537

[314 rows x 1 columns]

###

### 2. Reemplazando los NaN

In [8]:
# generando el df para añadir.
days_nan = pd.date_range(start='2018-11-11 12:00:00', end='2018-12-31 12:00:00', freq = 'D')
days_nan

nan_df = pd.DataFrame(np.nan, index = days_nan, columns=['SST'])
nan_df

#Calculamos la media.
media = df.SST.mean()
nan_df.SST = nan_df.SST.fillna(media)
nan_df

gp = [df, nan_df]
final = pd.concat(gp)
# DF final de acuerdo a fechas.

final

                           SST
2018-01-01 12:00:00  21.726934
2018-01-02 12:00:00  21.908794
2018-01-03 12:00:00  21.714407
2018-01-04 12:00:00  21.667702
2018-01-05 12:00:00  21.641754
2018-01-06 12:00:00  21.799046
2018-01-07 12:00:00  21.708815
2018-01-08 12:00:00  21.691774
2018-01-09 12:00:00  21.916025
2018-01-10 12:00:00  21.871174
2018-01-11 12:00:00  21.834141
2018-01-12 12:00:00  22.017464
2018-01-13 12:00:00  22.296356
2018-01-14 12:00:00  22.410610
2018-01-15 12:00:00  22.313505
2018-01-16 12:00:00  22.242859
2018-01-17 12:00:00  22.398020
2018-01-18 12:00:00  22.366434
2018-01-19 12:00:00  22.264124
2018-01-20 12:00:00  22.559809
2018-01-21 12:00:00  23.178448
2018-01-22 12:00:00  23.263168
2018-01-23 12:00:00  23.528902
2018-01-24 12:00:00  23.688324
2018-01-25 12:00:00  23.772392
2018-01-26 12:00:00  23.686403
2018-01-27 12:00:00  23.628241
2018-01-28 12:00:00  23.580870
2018-01-29 12:00:00  23.606968
2018-01-30 12:00:00  23.725069
...                        ...
2018-12-02 12:00:00  23.744434
2018-12-03 12:00:00  23.744434
2018-12-04 12:00:00  23.744434
2018-12-05 12:00:00  23.744434
2018-12-06 12:00:00  23.744434
2018-12-07 12:00:00  23.744434
2018-12-08 12:00:00  23.744434
2018-12-09 12:00:00  23.744434
2018-12-10 12:00:00  23.744434
2018-12-11 12:00:00  23.744434
2018-12-12 12:00:00  23.744434
2018-12-13 12:00:00  23.744434
2018-12-14 12:00:00  23.744434
2018-12-15 12:00:00  23.744434
2018-12-16 12:00:00  23.744434
2018-12-17 12:00:00  23.744434
2018-12-18 12:00:00  23.744434
2018-12-19 12:00:00  23.744434
2018-12-20 12:00:00  23.744434
2018-12-21 12:00:00  23.744434
2018-12-22 12:00:00  23.744434
2018-12-23 12:00:00  23.744434
2018-12-24 12:00:00  23.744434
2018-12-25 12:00:00  23.744434
2018-12-26 12:00:00  23.744434
2018-12-27 12:00:00  23.744434
2018-12-28 12:00:00  23.744434
2018-12-29 12:00:00  23.744434
2018-12-30 12:00:00  23.744434
2018-12-31 12:00:00  23.744434

[365 rows x 1 columns]

### 3. Serializar / Deserializar

In [9]:
final.to_pickle('data/binary1.pkl')
#Procedemos a importar
datita = pd.read_pickle('data/binary1.pkl')
print('Serializado correctamente!')
datita

Serializado correctamente!

                           SST
2018-01-01 12:00:00  21.726934
2018-01-02 12:00:00  21.908794
2018-01-03 12:00:00  21.714407
2018-01-04 12:00:00  21.667702
2018-01-05 12:00:00  21.641754
2018-01-06 12:00:00  21.799046
2018-01-07 12:00:00  21.708815
2018-01-08 12:00:00  21.691774
2018-01-09 12:00:00  21.916025
2018-01-10 12:00:00  21.871174
2018-01-11 12:00:00  21.834141
2018-01-12 12:00:00  22.017464
2018-01-13 12:00:00  22.296356
2018-01-14 12:00:00  22.410610
2018-01-15 12:00:00  22.313505
2018-01-16 12:00:00  22.242859
2018-01-17 12:00:00  22.398020
2018-01-18 12:00:00  22.366434
2018-01-19 12:00:00  22.264124
2018-01-20 12:00:00  22.559809
2018-01-21 12:00:00  23.178448
2018-01-22 12:00:00  23.263168
2018-01-23 12:00:00  23.528902
2018-01-24 12:00:00  23.688324
2018-01-25 12:00:00  23.772392
2018-01-26 12:00:00  23.686403
2018-01-27 12:00:00  23.628241
2018-01-28 12:00:00  23.580870
2018-01-29 12:00:00  23.606968
2018-01-30 12:00:00  23.725069
...                        ...
2018-12-02 12:00:00  23.744434
2018-12-03 12:00:00  23.744434
2018-12-04 12:00:00  23.744434
2018-12-05 12:00:00  23.744434
2018-12-06 12:00:00  23.744434
2018-12-07 12:00:00  23.744434
2018-12-08 12:00:00  23.744434
2018-12-09 12:00:00  23.744434
2018-12-10 12:00:00  23.744434
2018-12-11 12:00:00  23.744434
2018-12-12 12:00:00  23.744434
2018-12-13 12:00:00  23.744434
2018-12-14 12:00:00  23.744434
2018-12-15 12:00:00  23.744434
2018-12-16 12:00:00  23.744434
2018-12-17 12:00:00  23.744434
2018-12-18 12:00:00  23.744434
2018-12-19 12:00:00  23.744434
2018-12-20 12:00:00  23.744434
2018-12-21 12:00:00  23.744434
2018-12-22 12:00:00  23.744434
2018-12-23 12:00:00  23.744434
2018-12-24 12:00:00  23.744434
2018-12-25 12:00:00  23.744434
2018-12-26 12:00:00  23.744434
2018-12-27 12:00:00  23.744434
2018-12-28 12:00:00  23.744434
2018-12-29 12:00:00  23.744434
2018-12-30 12:00:00  23.744434
2018-12-31 12:00:00  23.744434

[365 rows x 1 columns]